:root{
    --font:'Kanit', sans-serif;
    --blue: #141A32;
    --white: #fff;
    --celeste: #007AFF;
}

#menu-toggle{
    display: none;
}

header  label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.x{
    display: none;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu li{
    list-style-type: none;
}

.menu a{
    display: block;
    color: var(--white);
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.botones{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.menu .boton{
    display: flex;
    background-color: var(--celeste);
    width: 100px;
    height: 50px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
}

.menu .entrar{
    background-color: rgba(0, 255, 128, 0.3);
}

.menu a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.botones a:hover{
    transform: scale(1.1);
}

#menu-toggle:checked ~ .menu{
    transform: translateX(0);
}

#menu-toggle:checked ~ .x{
    display: block;
    transition: all 1s ease;
}

#menu-toggle:checked ~ .menu-hamb{
    display: none;
    transition: all 1s ease;
}

/** Responsive - Desktop **/
@media (min-width:1024px) {
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        background-color: var(--blue);
    }

    .menu ul{
        display: flex;
    }

    .menu a{
        border: none;
    }

    .botones{
        display: flex;
        margin-top: 0;
        gap: 10px;
    }
    
    .menu .boton{
        display: flex;
        margin-top: 10px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.767);
        border-top-left-radius: 10%;
        border-bottom-right-radius: 10%;
        border-bottom: none;
        color: var(--celeste);
        width: auto;
        border-bottom: none;
    }

    .botones a:hover{
        background-color: rgba(76, 99, 124, 0.3);
        color: var(--white);
        transition: all 0.3s ease;
    }

    .menu .entrar{
        color: rgb(10, 121, 67);
    }

    header  label{
        display: none;
    }

    #menu-toggle:checked ~ .x{
        display: none;
        transition: all 1s ease;
    }
}