@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font:'Kanit', sans-serif;
    --blue: #141A32;
    --blueLight:#0d1d35d7;
    --white: #fff;
    --celeste:#007AFF;
}

body{
    font-family: var(--font);
    background-color: rgba(51, 51, 51, 0.5);
    color: var(--white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.registro{
    background-color: var(--blue);
    width: 400px;
    height: 450px;
    padding: 20px;
    text-align: center;
    z-index: 2;
}

.registro h1{
    margin-top: 35px;
}

.cerrar{
    color: var(--white);
    float: right;
    font-size: 28px;
    margin: 6px 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.boton{
    background-color: var(--celeste);
    color: white;
    font-size: 15px;
    font-weight: 900;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border: none;
}

.boton:hover{
    background-color: rgba(0, 255, 128, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.boton:active{
    transform: scale(0.99);
}

input{
    font-size: 18px;
    border: none;
}

/** Pantalla de mensaje **/
.mensaje{
    background-color: var(--celeste);
    width: 400px;
    height: 450px;
    display: none;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.mensaje h1{
    float: left;
}

.mensaje p{
    margin-top: 60px;
}

.mensaje img{
    width: 400px;
    height: 400px;
}

.mensaje img:hover{
    transition: all 0.3s ease;
    transform: scale(1.05);
}

/** Responsive **/
/** Responsive Tablet **/
@media (min-width:768px) {
    .registro{
        width: 600px;
    }
}

/** Responsive Desktop **/
@media (min-width:1024px) {
    .mensaje{
        display: block;
    }

    .registro{
        width: 400px;
    }
}